[2014-03-16 14:58] mkoistinen opened #1 "Brilliant! But, how can I get it to work alongside django-sortableadmin?"
This is a brilliant app, thank you for building it and sharing it.

I'm struggling to make it work alongside django-sortableadmin. In particular, I'm attempting to use a SortableTabularInline that also uses easy-select2.

I've experimented with setting `SELECT2_USE_BUNDLED_JQUERY = False`, thinking perhaps there's a JS conflict of some sort, but that didn't seem to help. =/

Any ideas?

[2014-03-16 20:32] mkoistinen opened #2 "ManyToMany Widgets have incorrect instructions in help_text"
"Hold down "Control", or "Command" on a Mac, to select more than one." is not relevant for Select2Multiple widgets.

I realise this is an long standing–and very annoying–bug in Django, but it is solvable. Have a look here for clues: http://django-autocomplete-light.readthedocs.org/en/latest/_modules/autocomplete_light/forms.html

[2014-03-16 23:46] mkoistinen opened #3 "Feature Request: Use AJAX to connect to large datasets?"

[2014-03-17 16:40] #1 closed, assigned to nobody

[2014-04-01 13:40] mkoistinen opened #4 "Feature Request: "Tagging" (sorta)"
I'd like to use django-easy-select2 to provide a "choice field" but where, if none of the choices are suitable, then the user can enter whatever he likes.

For example I have this code which works, but only as a normal choice field:

[code]

The purpose of all these gyrations is that I'd like the user to be able to enter their own 'aspect_ratio', but they can choose from the list of existing ones

[2014-04-01 15:41] #4 closed, assigned to nobody

[2014-04-28 07:57] ismaelbej opened #6 "Select will not update selection after adding a new option"
In the sample application, while creating a new Note I can create a new Category (clicking in the plus sign next to the select). The new category is created correctly, and I can see in the database, the select for the categories is not updated until reload of the page.

If I save the new Note inmediately after the Category is created (without reloading the page), then the Note has the category cre

[2014-04-29 15:16] dzerrenner opened #7 "Python 3 compatibility"
I just forked the repo and made a few adjustments that make this work in my Python 3.3.3 environment. These are just a few changes, maybe you could make a version which runs on python 2 and 3

[2014-04-29 16:00] #7 closed, assigned to nobody

[2014-05-03 19:48] #6 closed, assigned to nobody

[2014-05-10 14:24] ocZio opened #9 "apply_select2 not imported in __init__"
Self explanatory.

[2014-05-11 07:53] #9 closed, assigned to nobody

[2014-07-16 07:47] Darkless012 opened #10 "Easy select 2 breaks down admin with parler (or similar)"
Easy select has hard-coded ModelForm class that uses for recreation of admin form.

**select2_modelform** method returns new model form, but it is always **forms.ModelForm** instance. But parler needs it's own **TranslatableModelForm**.

I think the easiest solution is to add additional argument for **select2_modelform** so it can return another instance. eg. **form_model** arg.

[code]

This way

[2014-07-17 04:32] #10 closed, assigned to nobody

[2014-08-11 11:03] TomNaessens opened #12 "Inline relations: "Add another <Model>" breaks dropdown boxes"
I have a model which has a relation to another model. This model has some fields, which use the Select2 dropdown singleselect boxes. When using the "Add another <Model>" link:
![screen shot 2014-08-11 at 12 40 47](https://cloud.githubusercontent.com/assets/915130/3874605/f9567cf2-2143-11e4-8df2-8fc809ccb117.png)
A new row is added to the table. However, when trying to select a value, the dropdown

[2014-09-15 15:04] #12 closed, assigned to nobody

[2014-09-23 12:50] eillarra opened #15 "RemovedInDjango18Warning"
Forms created with `select2_modelform()` throw a "RemovedInDjango18Warning: Creating a ModelForm without either the 'fields' attribute or the 'exclude' attribute is deprecated" (Django 1.7).

A minor change like this seems to solve the warning:

[code]

(in https://github.com/asyncee/django-easy-select2/blob/master/easy_select2/utils.py#L31)

[2014-10-13 16:59] #15 closed, assigned to nobody

[2014-10-18 08:24] #2 closed, assigned to nobody

[2015-01-23 16:19] LucasRoesler opened #16 "Ignored in production"
I installed easy-select2 following the instructions in the doc and it works perfectly in my local environment.  However, in production it seems to be completely ignored. Is there any reason why it would default back to the standard select widget?

[2015-01-23 16:25] kevin-brown commented on #16
An easy guess would be that the static files are not being served correctly.

Are you getting any errors in the console at all in production?

[2015-01-23 16:26] asyncee commented on #16
Hello, please try running "collectstatic" management command or copy static files manually.

[2015-01-23 16:31] LucasRoesler commented on #16
I am serving the files out of S3 with cloudfront, I was able to verify that the files are in place, but the admin page doesn't even try to load them.  There are no 403 errors in the network log.

[2015-01-23 16:45] asyncee commented on #16
Can you post your admin / form code please?

And check if browser console shows any errors?

 Also, if the form configured correctly, select widget should have a 'script' tag appended to it with some select2 init code (you can check it with developer tools).

[2015-01-23 16:55] LucasRoesler commented on #16
My admin looks like

[code]

The browser console shows no errors and the page DOM does not have anything related to select2 in it.

[2015-01-23 19:22] asyncee commented on #16
Looks sane, but i have found a ticket that may be related: https://code.djangoproject.com/ticket/19303
I have no pc on my hand right now, so can not setup a test project for your case.
I think you should to try to avoid using formfield_overrides, but custom form (you can override widgets in its __init__) to see if it is working solution.

[2015-01-27 15:53] LucasRoesler commented on #16
Sorry for the long time before my response.

I just recently did another deploy, but not including any changes to that admin page, and now it seems to work.  I am not sure what the difference is this time. Perhaps I was mistaken about the code making it into the previous deployment.

So, this appears to be a non-issue.  Sorry for the false alarm.

[2015-01-27 15:53] #16 closed

[2015-01-29 13:24] tarek-aec opened #17 "large data in django easy_select2 make it slowly"
I have about 1500,340 user on my website and when I click to select one user in admin it take long time to load the large username in admin page, anyone has idea to solve the problem?

[2015-01-29 13:27] asyncee commented on #17
I prefer to use raw_id_fields in case of django admin.

[2015-02-08 13:44] asyncee commented on #17
Looks like there are no other ideas how to handle 1500340 users in django admin select input, except for using `raw_id_fields` and (maybe) select2 ability to load data by using ajax.

So, i'm closing it.

[2015-02-08 13:44] #17 closed

[2015-02-08 17:49] tarek-aec commented on #17
thank you

[2015-05-03 14:40] kevin-brown opened #18 "Select2 4.0.0"
Just a heads up, we [released Select2 4.0.0](https://select2.github.io/announcements-4.0.html) last Sunday (about a week ago). It doesn't look like it would be _too difficult_ to upgrade this project to support it as there isn't a lot of magic involved here.

[2015-05-03 15:03] asyncee commented on #18
Hello and thank you for information, i will upgrade a project with new Select2 version.

I did not read release notes and upgrade guide yet, so just a question - does Select2 4.0.0 expects to find window.$ (jQuery) by default or it is possible to configure widget to use custom jQuery namespace?

https://github.com/asyncee/django-easy-select2/blob/master/easy_select2/static/easy_select2/js/easy_sel

[2015-05-03 16:32] kevin-brown commented on #18
Select2 4.0.0 is designed to work with `jQuery.noConflict` insofar as it looks for `window.jQuery` instead of `window.$`. It's difficult to automatically pick up `jQuery.noConflict(true)` as there are no traces of where `jQuery` was assigned to, so we don't directly support that.

[2015-05-07 17:47] asyncee commented on #18
For now new feature with Select2 4.0.0 is available https://github.com/asyncee/django-easy-select2/tree/feature/select2-4

Though, there is a release blocker: when you create related object using a green plus sign (new window opens), widget is not re-rendered with new value.

[2015-05-07 19:39] kevin-brown commented on #18
I'm not entirely sure how this worked before, or what was changed that may have broken it.

[2015-05-14 03:54] shnode opened #19 "How to handle the conflict in form?"
`easy-select2` is smart.

 but as we declare the form in admin, it influence those form auto-generated by models like `markdown field`(comes from [django_markdown](https://github.com/klen/django_markdown))
which gave me js fault like:

![image](https://cloud.githubusercontent.com/assets/7784713/7625901/d0a7f094-fa30-11e4-827f-de5f976ab849.png)

so , how could I deal with multiple things in form?

[2015-05-14 04:20] asyncee commented on #19
It looks like javascript library `jquery.markitup.js` is not loaded. This can happen if form media was overriden, or easy-select2's javascript libraries somehow conflict with ``markdown field``. Can you please show your form code and section in your admin page source code, where javascript libraries are loaded (the place in resulting html where form.media is rendered).

[2015-05-14 06:16] mknecht opened #20 "Adding Mood in Sample App broken"
Hey,

I started the demo app according to the [guidelines](http://django-easy-select2.readthedocs.org/en/latest/sampleproject.html) and wanted to test the addition of Moods. Did not work: Entering texts, adn pressing RET did nothing. Saving did not help either. Am I doing sth wrong, or is it broken?

[code]
![selection_212](https://cloud.githubusercontent.com/assets/77181/7626960/bb312e48-fa43-11e

[2015-05-14 09:30] shnode commented on #19
`jquery.markitup.js` has been loaded before `easy_select2`,
![image](https://cloud.githubusercontent.com/assets/7784713/7629294/ff412e34-fa5d-11e4-8127-d23069119bbc.png)

after finding so many module, `easy_select2` is the nearest I want.
`django-ajax-selects` needs to inherit from its own `AdminModel`, but I use `nested_inline`.
`django-select2` seems does not work for grappelli.
`grappelli-filte

[2015-05-14 09:43] flex1988 commented on #19
el is native, markitup is a jquery function,u nid to convert it to a jquery object first.
$(el).markitup();

[2015-05-14 10:13] jungornti commented on #20
Well, looks like this is regression due to Select2 update or something. It is broken now. Anyway, this feature will be removed when django-easy-select2 will be updated to use Select2 4.0.0.

[2015-05-14 10:17] jungornti commented on #19
Documentation says:

SELECT2_USE_BUNDLED_JQUERY - default is True. Set to False if your already have included custom jQuery.

This configuration option should remove jquery.min.js from list of libraries. Can you try that?

[2015-05-14 10:19] shnode commented on #19
@jungornti  Thanks a million, I appreciate your help.

[2015-05-14 10:19] #19 closed

[2015-05-14 11:36] mknecht commented on #20
l0l, okay. Does 4.0 not support that anymore? It's a handy feature, no?

[2015-05-14 11:55] jungornti commented on #20
I'm not sure, but looks like 4.0 does not support that. Anyway, using Select2 in that way looks like "hack" for me, because Select2 based on ``select`` input mechanics, not text-input.

[2015-05-14 12:48] mknecht commented on #20
okay :) thanks, closing!

[2015-05-14 12:48] #20 closed

[2015-05-15 01:41] shnode opened #21 "It's two slow when use the select box."
I have more than 10,000 rows in current table to be select.

how to deal with this problem

[2015-05-15 03:43] asyncee commented on #21
In such situtation you should use Select2 + ajax. Django-easy-select2 does not support loading ajax choices out of a box, but you can read discussion https://github.com/asyncee/django-easy-select2/issues/3

Also this documentation can help you: http://select2.github.io/select2/#ajax

If you have ideas how to better integrate ajax-loading feature and django-easy-select2, please, write me.

[2015-06-22 08:20] asyncee commented on #18
New release: 1.3 with Select 2 4.0.0. Thank you for support. Closing.

[2015-06-22 08:20] #18 closed

[2015-08-11 02:40] shnode commented on #21
Thank you, Finally we quit using django-admin.

[2015-08-11 02:40] #21 closed

[2015-10-08 11:38] martolini opened #23 "Use with django-storage."
Change
`from django.templatetags.static import static`
to
`from django.contrib.staticfiles.storage import staticfiles_storage as static`
in order for this to work with other static storages.

[2015-10-09 13:46] jungornti commented on #23
Thank you for bug report. It will be fixed as soon as possible. Also, PR is welcomed :)

[2015-10-11 06:46] asyncee commented on #23
Fixed in release 1.3.1. Thank you.

[2015-10-11 06:46] #23 closed

[2015-12-23 20:06] vigo commented on #21
Let's implement ajax load!

[2016-01-11 13:42] amateja opened #24 "caching static files with CachedStaticFilesStorage"
Hi,

I use your package and I want to have my static files cached but when I have no static files collected, empty cache and `DEBUG` set to `False` I end up with such exception using any of `manage.py` commands:
[code]

My workaround is to set `DEBUG` to `True`, run `python manage.py collectstatic`, set it back to `False`. I use Django 1.8.8 and django-easy-select 1.3.1.

This works:
[code]
or
[co

[2016-01-11 14:44] kevin-brown commented on #24
To be more specific (and probably clarify things), the issue here is not with the `CachedStaticFilesStorage`, it's an issue with how the static file pathes are being determined _at import time_ instead of when they need to be used.

Calling `static`, [like is done at the top of `widgets.py`](https://github.com/asyncee/django-easy-select2/blob/b9607495c73d44bcc06ff025872def6d74513ac2/easy_select2/w

[2016-01-11 19:50] asyncee commented on #24
Hello, guys and thanks you for bug report. I must admin that configuring static files at import time was not the best decision (premature optimization). I think that the fix will be simple - refactor code to determine static paths dynamically using media as a property, as @kevin-brown has referenced higher.

I will be happy to accept merge request (including tests) before holidays, because i'm too

[2016-01-11 20:07] amateja commented on #24
No rush if you ask me. I can live with it and I do. Just sharing my problem with you. Thank you for your openness and quick reaction. I could make pull request but not at this moment. Anyway I tried to prepare thorough problem report to let you understand easily where is the rub and to start discussion before not after :smile:.

What interests me the most is to find all fixes on pypi. Can be?

[2016-01-11 20:28] asyncee commented on #24
Sure, i will publish 1.3.2 on pypi after fixing the issue :)
11 янв. 2016 г. 23:07 пользователь "Andrzej Mateja" <
notifications@github.com> написал:

[2016-01-12 16:59] #24 closed

[2016-01-12 17:02] asyncee commented on #24
Thank you, version 1.3.2 released.

[2016-02-06 12:48] guettli opened #27 "This app is not listed on djangopackages yet"
Your app is not listed on this site yet:

https://www.djangopackages.com/grids/g/auto-complete/

Would be nice if it would.

[2016-02-06 15:07] asyncee commented on #27
Hello, Thomas, thank you for information! It is actually listed in widgets
grid, but i will add it to an auto-complete too.

You can check it here:

https://www.djangopackages.com/packages/p/django-easy-select2/

[2016-02-07 15:33] asyncee commented on #27
Added application to the grid, no check boxes yet, need to wait until grid cache expires.

[2016-02-07 15:33] #27 closed

[2016-02-08 20:23] guettli commented on #27
I can see the app in the grid. Thank you.

[2016-04-22 08:03] sebastien247 commented on #3
:+1:

[2016-04-24 09:24] asyncee commented on #3
For me, django-easy-select2 is lightweight wrapper on select2 library, which provides easy-to-use basic select2 functionality in a django project.
If you need feature-rich solution, i recoomend you to look at the latest ``django-select2`` library, which have ajax loading support.

Anyway, if anyone **really** want this functionality in ``django-easy-select2``, please feel free to contribute.

[2016-07-10 20:28] randomshinichi opened #28 "widgets won't render and I don't know why"
I have code like this:
[code]
But it always renders like a normal `forms.SelectMultiple`. Your documentation doesn't really cover this case specifically, and I have no idea where to start troubleshooting. Any ideas? I even changed the import to `easy_select2.widgets` specifically.

[2016-07-11 03:58] asyncee commented on #28
Hello!

First of all, let's check if form media was rendered properly. You should see select2 javascript libary in the page source code. More about media [in the docs](https://docs.djangoproject.com/en/1.9/topics/forms/media/).

Secondly, try to pass **instance** of `Select2Multiple` instead of class.

Also you should check if there any javascript errors in browser console, which may prevent widge

[2016-07-11 08:11] randomshinichi commented on #28
I tried passing an instance but it didn't make a difference.

There is no reference to the select2 javascript library in the page source code. No js file is being loaded from Django. Is this intended behaviour? Am I supposed to setup Form Assets myself? I thought including the Select2Multiple() widget would cause the required JS files to be loaded, since this was not mentioned in the documentation

[2016-07-11 08:50] asyncee commented on #28
No. Django can handle form assets by itself:

That means dependent static files will be loaded automatically.

So it looks like you are missing ``{{ form.media }}`` in the page source. Try to add it to the ``<head>`` section of your page.

[2016-07-11 12:43] randomshinichi commented on #28
Oh yes, it works now!

Good practice question: is it good to add `{{ forms.media }}` to base.html (because that contains the `<head>` section)? Then it will be run for every page, even the ones that don't have a form or use the Select2 widget.

Right now my base.html has this snippet in `<head>`:

[code]

[2016-07-11 13:17] asyncee commented on #28
As a good practice advice you can use this:

1. in base.html you create a block, for example `{% block extrahead %}{% endblock %}`.
2. override this block on every single page, where you need custom js, css, form or widget media, etc, like this:

[code]

This way you can work with pages, that have multiple forms, following DRY principle.

I think we can close it now.

[2016-07-11 13:17] #28 closed

[2016-07-14 11:22] ZoltanOnody opened #29 "app breaks dumpdata"
After adding `'easy_select2'`  to installed apps I am not able to run the `python manage.py dumpdata` command anymore.

It says:
`CommandError: Unable to serialize database: no such table: easy_select2_related`

if I run it with traceback I get:
[code]

Python version: `Python 3.5.1+`
Installed packages:
[code]

This app has `models.py` but no migrations so I tried to `makemigrations` and run them

[2016-07-14 12:43] jungornti commented on #29
This application has no migrations, because it has no models.

If you look at [source](https://github.com/asyncee/django-easy-select2/blob/master/easy_select2/models.py), you will see that you created migrations for test unmanaged models, which is wrong.

What you should do:

1. delete migrations you created manually
2. clear any application records in django_migrations table in your database

Now

[2016-07-14 15:38] ZoltanOnody commented on #29
Nope. The error had been there before I created the migrations so the problem is somewhere else.

[2016-07-14 15:53] asyncee commented on #29
I reproduced the problem on fresh django installation.

For now you can avoid this error using `exclude` parameter:

`./manage.py dumpdata --exclude easy_select2`

I need to somehow refactor tests to remove unmanaged models.

[2016-07-14 17:55] asyncee commented on #29
Added bugs and workarounds section to readme for sometime before i get to this trouble.

[2016-07-18 08:42] #29 closed

[2016-11-04 15:38] iho opened #30 "Select depend on other field"
Hi

How to filter field list depending on  value of other field?

[2016-11-04 16:04] asyncee commented on #30
Hi, django easy select2 does not have this feature, but you can try django smart selects, or write it yourself.

[2016-11-04 16:08] iho commented on #30
Does it have autocomplete function?

[2016-11-04 17:38] iho commented on #30
Please close it. I already implement what I need with django-easy-select2 and few json views.

[2016-11-04 18:09] asyncee commented on #30
Glad you got it working.

[2016-11-04 18:09] #30 closed

[2017-03-18 11:11] sunjoomoon opened #31 "Using with django-parler, issue raised"
When used with django parler,
Below is returned

[code]

Any workaround?

[2017-03-18 13:05] asyncee commented on #31
How exactly do you use it with django-parler?

Error looks like not related to django-easy-select2.

[2017-03-26 08:46] daniel48 opened #32 "Does it support django1.10"
Does it support django1.10 and later?

[2017-03-26 08:55] asyncee commented on #32
Yes, it does.

[2017-03-26 08:55] #32 closed

[2017-03-26 08:57] daniel48 commented on #32
thanks

[2017-04-17 09:17] jayanthbagare opened #33 "Easy Select2 does not work with 1.11"
Hi,
Easy Select 2 does not seem to be working with 1.11(the latest release). The last known release to work on is 1.10.7

Attached is the screenshot of the error.

<img width="1432" alt="screen shot 2017-04-17 at 2 47 03 pm" src="https://cloud.githubusercontent.com/assets/290588/25084892/c8ff6b34-237c-11e7-827b-953ee3c4ce3d.png">

[2017-04-17 12:42] asyncee commented on #33
Hello, thank you for report. Can you show the code and describe how to reproduce this bug?

[2017-04-17 15:33] jayanthbagare commented on #33
Hi,
Below is the code. Hope this helps.

admin.py
=======
RelationshipForm = select2_modelform(Relationship)
ReportForm = select2_modelform(Report)

class RelationshipAdmin(admin.TabularInline):
    model = Relationship
    fk_name = 'bp_predicate'
    exclude = ['createdBy']
    form = RelationshipForm

    def formfield_for_foreignkey(self, db_field, request, **kwargs):
        logger.debug('Fie

[2017-04-17 16:02] asyncee commented on #31
Closing.

[2017-04-17 16:02] #31 closed

[2017-04-17 16:03] asyncee commented on #33
Thank you, i'll look into this problem asap.

For now you can try to use alternative for select2_modelform, for example, select2_modelform_meta or specify select2 fields by hand.

[2017-04-18 06:32] asyncee commented on #33
Released 1.3.4 with django 1.11 support. If issue remains, feel free to reopen. Thank you.

[2017-04-18 06:32] #33 closed

[2017-04-18 18:40] jayanthbagare commented on #33
Awesome thanks, will check it out.

[2017-06-28 18:00] gamesbook opened #34 "Sample project does not work?"
After I run `python manage.py migrate` (the docs still say syncdb), then I use:
[code]
But no admin is available and the project does not show up on the root either?

[2017-07-03 19:51] #3 closed

[2017-07-03 19:53] asyncee commented on #34
Well, it seems something went wrong. I can not say what exactly - we need more details.

Also, tests are running okay in test environment (sampleproject demoapp), so be sure to check out tox.ini (project directory and settings).

[2017-07-04 12:55] gamesbook commented on #34
Sorry, have moved on from this.  Maybe you can try and duplicate the problem in a clean environment?  If I really need to use this tool in future I will try it again.

[2017-07-04 12:58] asyncee commented on #34
Okay, good luck ;)

[2017-07-04 12:58] #34 closed

[2017-07-04 13:56] gamesbook commented on #34
@asyncee I don't understand, but OK, its your project!

[2017-07-04 17:31] asyncee commented on #34
Sorry, there are a little misunderstanding. I have no spare time to work on this project for now and without any attached logs, or images, or some other debug information i can not make an assumption what is actually wrong.

I'm sure, that the widget should be working - yes, sampleproject is maybe, stale, but standalone installation should be working.

Just use `pip install` on a working project.

[2017-07-04 18:58] gamesbook commented on #34
Outputs:
[code]
[code]
[code]

[code]
In the browser:
[code]

[2017-07-04 19:07] asyncee commented on #34
I checked this in clear environment with `django==1.8` and it worked fine.

Please try this:

1. bash bootstrap.sh - this will deploy project
2. source env/bin/activate - activate virtualenv
3. pip install django==1.8
4. ./manage.py migrate
5. ./manage.py runserver

Actually, sampleproject is a little outdated (django 1.9 and later needs different templates configuration, etc).

[2017-07-05 06:39] gamesbook commented on #34
I found there was no user available to log in to the admin site, so I had to create one.  Shall I submit a pull request with updated instructions?

[2017-07-05 06:41] asyncee commented on #34
Sure, thank you!
For now, as this project is stable, i'm almost not working with sampleproject. If you want to improve it, pull requests are welcomed :)

Also, soon i will search for a project maintainer.

[2018-01-10 13:30] MahendraNG commented on #30
@iho Can you post your solution here?

[2018-02-27 12:30] md1023 opened #38 "Related model combobox doesn't update after add in Django 2"
1) cloned demoapp, `pip install -U django`
2) setup demoapp, updated config and migrations to run under Django2
3) run demo, logged in
4) try to add new note - press plus; type in `max` into inputs, click save
5) I've been returned to add note page but user combo still shows dashes `---------`
6) click on dropdown box and see there new option `max`
7) click save note and note is saved with user `m

[2018-02-27 12:33] asyncee commented on #38
Currently, i can not investigate this due to missing free time.

Can you check if `$` and `window.$` are different objects?

Jquery must expose itself to the window scope by default.

[2018-02-27 12:46] md1023 commented on #38
[code]
First function leads to jquery.js and `n(a, b)` is a function from `jquery.min.js`.

[2018-02-27 12:49] asyncee commented on #38
It would be great if you can submit a pull request.

Thanks!

[2018-03-03 07:48] asyncee commented on #38
@gauravv7 any comments on this? Can you test if the bug exists?

[2018-03-03 14:15] nskalis opened #39 "question: ArrayField support"
Hi,

Not sure if I am asking the right thing here, but could you please share an example
of saving a `list` coming from `django-easy-select2` in PostgreSQL `array` field ?

In other words, is Django `ArrayField` supported ?

[2018-03-04 10:56] asyncee commented on #39
Hey, there are `Select2Multiple` widget that you can try.

In fact, it just a mixin to SelectMultiple, so you it should work out of the box.

[code]

I can not give you working code, because i do not use django at the moment, but is should give you an idea:

[code]

[2018-03-04 11:51] nskalis commented on #39
thanks a lot!

[2018-03-04 11:51] #39 closed

[2018-03-25 06:20] #38 closed

[2018-04-08 09:58] gahan9 opened #42 "Newly added foreign element don't display and many to many relation couldn't add item"
I have configured django easy select according to document, it's working fine but when I add new item to foreign key field it's actually selected but it isn't displayed in UI that whatanelement selected. after adding new element from pop up any element I choose it will only display None.

For many to many field it doesn't add item.

python==3.5.2
Django==2.0.2
django-easy-select2==1.3.4

----
For

[2018-04-08 12:33] asyncee commented on #42
Hi! Please, try to use latest version, which is 1.4.

[2018-04-08 12:41] gahan9 commented on #42
I have updated to latest version 1.4 as you suggested, but still default `---` showed while adding and for edit it displays previously selected field, however many to many field is working if i click same element twice.

[2018-04-08 19:03] gauravv7 commented on #42
@gahan9 with all such information give, I tried setting up a sample project ([link](https://github.com/gauravv7/easy_select_1.4)) which you can use freely to match the problem you are getting (python version its made with is Python 3.4.3 (default, Nov 28 2017, 16:41:13)).

I am afraid I would be needing a little more information about your project's usage of easy_select2. Can you please share the

[2018-04-09 11:41] gahan9 commented on #42
@gauravv7 sample project is perfect and I have used easy_select2 in same way; here's the [link](https://streamable.com/rn6y0) to stream for the same project. It's working but it doesn't displays what is selected

[2018-04-09 11:43] asyncee commented on #42
@gauravv7 i think the problem could be solved by just re-rendering select2. Looks like some internal selection state is persisted, but the view is not updated.

[2018-04-11 09:02] zhaojiejoe opened #43 "Docs : Usage of Select2Multiple error"
EVN  django 1.11.7
class Form(forms.Form):
    field = forms.ModelChoiceField(queryset=qs, widget=Select2Multiple(
        select2attrs={'width': 'auto'}
    ))

should be

class Form(forms.Form):
    field = forms.**ModelMultipleChoiceField**(queryset=qs, widget=Select2Multiple(
        select2attrs={'width': 'auto'}
    ))

[2018-04-13 16:01] asyncee commented on #42
@gahan9 we can not reproduce this problem using easy-select2 1.4.0.

I have just tested it and found out that version 1.3.4 is buggy, but 1.4.0 is not.

I'm closing this issue, because problem is not reproduced on django==2.0.4 and django-easy-select2==1.4.0.

If you still can reproduce it with provided sample project, please, feel free to reopen, but make sure you have provided detailed informati

[2018-04-13 16:01] #42 closed

[2018-04-23 12:33] nbob opened #44 "mark_safe problem"
How can I write a custom html to output options?

[2018-04-23 15:56] asyncee commented on #44
Hey, you can override rendering method:

https://github.com/asyncee/django-easy-select2/blob/master/easy_select2/widgets.py#L95

https://github.com/asyncee/django-easy-select2/blob/771e2924fb39578630c9a9cabacb34d5e66b2cdf/easy_select2/widgets.py#L95
https://github.com/asyncee/django-easy-select2/blob/771e2924fb39578630c9a9cabacb34d5e66b2cdf/easy_select2/widgets.py#L95
https://github.com/asyncee/dj

[2018-04-24 14:16] nbob commented on #44
I advice to rewrite whole function and replace only one line?
It doesn't look like DRY solution

May it would be better to allow developers to decide by them self escape or not escape?

[2018-04-24 14:43] asyncee commented on #44
@nbob Sure, it would be better, what is your use case exactly?

PR's are welcomed also.

@gauravv7 what is your thoughts on this?

[2018-04-24 15:32] nbob commented on #44
Use case is very simple. I have a list of choices with icons and title of them. So, I just want to display select2 widget with html-options in my django admin

I see that `mark_safe` is present in `render_method`, so, I have no idea whats the problem in

[2018-04-24 15:40] gauravv7 commented on #44
I agree with @asyncee, overriding render function gives a lot of flexibility which cannot be generalized e.g. Nested html, event bubbling/capturing, analytics handlers etc.
But for a simple requirement like nbob's, a provision can be made. I think we can do it for making the plugin more flexble to use. I am preparing a PR for this, @asyncee let me know what you think of this

[2018-04-24 15:50] nbob commented on #44
@asyncee @gauravv7
I've read a bit of select2 docs and find out that `select2` escapes option's text by default.
But `select2` allows to override escape function by setting `escapeMarkup` option in select, but there is no way to pass it through `django-easy-select2` lib

[2018-04-24 16:04] gauravv7 commented on #44
@nbob as @asyncee suggested, you need to override the rendering method. Take a look at https://github.com/asyncee/django-easy-select2/blob/master/easy_select2/widgets.py#L76
Which is for rending select2 options code.

Also please take a look at https://github.com/asyncee/django-easy-select2/blob/master/easy_select2/widgets.py#L71
For all the options specified to select2 options(js plugin) to its c

[2018-04-24 16:25] asyncee commented on #44
@gauravv7 you are absolutely correct. I would be great if you can do a PR.

As for nbob's request — can you show how final (rendered) select2 template should be to better understand the problem?

[2018-04-24 16:39] nbob commented on #44
@gauravv7

Yes, I see.
1. I need to pass escapeHtml function to select2
2. It is not possible to pass it via to data-* attribute, because select2 does not use eval on its data-* attribute string, fortunately.
3. The only one way is to pass it as pure JS function in $.select2 constructor func. But this is not allowed by `django-easy-select2`
4. Overriding `render` method does not give any result, b

[2018-04-24 16:55] asyncee commented on #44
I think we can extend plugin to allow custom select2 initialization with following (little bit hacky it looks for me anyway):

[code]

To let select2 initialization code know that it need to use custom callback, custom data attribute may be passed (data-custom-callback="initSelect2Custom")

On initialization, function `add_select2_handlers()` can determine if custom callback name is provided and u

[2018-05-22 16:03] Tyilo opened #45 "Doesn't work for dynamically added forms in inline admins"
At least for TabularInline

[2018-05-29 18:26] gauravv7 commented on #44
This issue is resolved with a new release of version 1.5.0. Ergo, Closing this issue for now.

[2018-05-29 18:26] #44 closed

[2018-05-30 23:45] RyanStack commented on #45
I would also like to use django-easy-select2 for StackedInline.  Any idea on the eta for this feature?

[2018-05-31 03:41] gauravv7 commented on #45
@RyanStack it would be released shorty in a few days. Some tests are being done.
I ll update you with some quick fix if its gonna take time.

[2018-05-31 15:46] RyanStack commented on #45
@gauravv7 Great to hear!

[2018-06-06 10:48] gauravv7 commented on #45
@RyanStack @Tyilo This issue is resolved completely with the release of version 1.5.2. Please let us know in case of any issues.
I hope we helped.

[2018-06-06 10:48] #45 closed

[2018-06-11 13:07] Tyilo opened #49 "Mention in README that basic select2 support is included in Django 2.0 admin"
See [`ModelAdmin.autocomplete_fields`](https://docs.djangoproject.com/en/2.0/ref/contrib/admin/#django.contrib.admin.ModelAdmin.autocomplete_fields)

[2018-07-20 08:28] nubtwo opened #50 "change/edit url next to field does not get updated"
Django version 1.11.13
django-easy-select2 1.3.4

In Django Admin:
If initially "item 1" is selected and I click the change/edit pencil-icon I get a popup to edit "item 1".
Selecting "item 2" and clicking the change/edit pencil-icon I still get a popup to edit "item 1".

Is this a bug, intended or an error on my part?

[2018-07-21 13:31] gauravv7 commented on #50
@nubtwo can you please try with the latest version?
PS: possible cause is some clash of query library version clash with yours included and easy-select2's... But just a guess, please share the code for proper confirmations

[2018-07-23 14:37] nubtwo commented on #50
I tried with the new version, no luck.

admin.py
[code]

settings.py
[code]

The following does not get updated, it stays stuck on 3 for example:

`<a class="related-widget-wrapper-link change-related" id="change_id_institut" data-href-template="/tvdb/institut/__fk__/change/?_to_field=id&amp;_popup=1" title="Ausgewählte Institut ändern" href="/tvdb/institut/3/change/?_to_field=id&amp;_popup=1"><im

[2018-07-23 22:01] gauravv7 commented on #50
Okay @nubtwo ,
Although I did not found a crash but found a similar case where the pencil icon url is not updating and it corresponds to a bug, which is some what related to updation of select2 and unhandled new event triggers.
There is also a case where newly added option doesn't get selected in the UI but is selected and pencil icon opens up that same added element to edit. (So the fix to update

[2018-07-26 18:44] gauravv7 commented on #50
issue resolved with the release of v1.5.3

[2018-07-26 18:44] #50 closed

[2018-08-10 13:17] nubtwo opened #52 "Django Admin TabularInline "Add another"-row not select2"
Django version 1.11.13
django-easy-select2 1.5.3

The fields of an existing row of a TabularInline work with select2,
if I click "Add another",  the fields of the new row are not select2:

![grafik](https://user-images.githubusercontent.com/16845311/43959762-32d29114-9cb0-11e8-8975-6d8550c993f6.png)

Ideas?

[2018-08-15 11:52] gauravv7 commented on #52
Hi @nubtwo , apologies for replying soo late.

I checked this issue and confirmed this. Long awaited deadline has now come, "DomNodeInserted" event is not supported by chrome now I guess.
I tried running a similar config project for any bugs in current code so the same scenario described as above works in mozilla(all browsers majorly) except my chrome (would have blamed browsers in case of other b

[2018-09-03 06:10] asyncee commented on #52
Closed via #54

[2018-09-11 07:53] nubtwo commented on #52
I am sorry, but my problem in my first post remains.
The $(document).on('formset:added', function (event, $row, formsetName) never gets hit.
Any ideas? How can I trace the origin of the error?

[2018-09-11 08:29] gauravv7 commented on #52
yes, confirming this issue now, actually formset:added is related to django.JQuery which is included in our plugin as a JQuery port, but since easy-select2 was initially meant to be a simple wrapper around select2.js , it uses jquery and not Django.JQuery (as simply relating to docs of select2), and therefore not getting the event launch from Django.JQuery.

@nubtwo and @asyncee  the fix wil be pr

[2018-09-13 06:31] asyncee commented on #52
Thanks to @gauravv7 we have new release 1.5.5 on pypi.

@nubtwo would be you so kind to test and confirm if problem is solved for you?

[2018-09-13 11:28] nubtwo commented on #52
@gauravv7 @asyncee I can confirm it works now! Django version 1.11.13.

Thank you very much. You guys are so fast. Where is the donation button?
Greetings from Germany.

[2018-09-13 11:55] asyncee commented on #52
We do not have one :)

[2018-09-13 14:29] gauravv7 commented on #52
should I close this thread? because I don't want to :D

[2018-09-19 15:58] leibowitz opened #56 "autocomplete_fields inputs initialised twice"
Note that I'm using `SELECT2_USE_BUNDLED_JQUERY = False`. So I am using the bundled django jquery (e.g. in the admin)

~~Since the last change introduced in https://github.com/asyncee/django-easy-select2/pull/55, any `autocomplete_fields` (django 2+) are now initialised twice.~~

~~Not sure why, but removing [these lines](https://github.com/asyncee/django-easy-select2/blob/186587e095078fa337214635

[2018-09-19 16:27] #56 closed

[2018-09-19 16:28] asyncee commented on #56
Great, thank you!

[2019-06-10 13:26] jaikanthjay46 opened #57 "Using tinyMCE reloads jQuery namespace, select2 registers in the new jQuery namespace"
I have this weird script order, jquery loads , jquery-ui registers itself, jquery.init.js where jQuery name space is cleared and moved to django.jQuery.

- Now, easy-select2  loads, no jQuery so fills it with django.jQuery and stored $ and _djq, both pointing to django.jQuery and remains that way due to closure.
- Next tinymce's jQuery loads replaces jQuery namespace.
- Next select2 load and regis

[2019-06-10 13:29] asyncee commented on #57
Hello and thank you for bug report!

Sadly, i do not use django for a few years now, so this library is mainained by @gauravv7 and community.

Feel free to submit a PR :)

[2019-06-10 13:51] jaikanthjay46 commented on #57
Thanks for taking notice, I wish there were more elegant ways to solve this @gauravv7, hit me up if you have some.

[2019-06-10 13:51] #57 closed

[2019-06-11 05:17] gauravv7 commented on #57
@jaikanthjay46 all we want is to capture an instance of select2 to work upon, your approach seems fine. I ll do some more testing to figure more edge cases.
basically we don't want to pick an object from unknown source, so as we get unknown behavior. JS allows us monkey-patching.

[2019-07-02 20:20] brynbeaudry opened #59 "Included js/css blocked by no-sniff header"
The files included by using the widgets are downloaded as text/html and but they are included as application/javascript.
If you're including a no-sniff header on all your pages you get an error like the following:

The resource from “https://192.168.60.201/site_media/easy_select2/js/easy_select2.js” was blocked due to MIME type (“text/html”) mismatch (X-Content-Type-Options: nosniff).
So questions

[2019-07-02 22:17] #59 closed

[2019-08-07 20:58] CleitonDeLima opened #60 "Error in easy_select2.js"
https://github.com/asyncee/django-easy-select2/blob/master/easy_select2/static/easy_select2/js/easy_select2.js#L114

`django.jQuery` not exists.

[2019-08-08 00:20] gauravv7 commented on #60
Hi Cleiton, which version of django are you using?

[2019-08-08 11:25] CleitonDeLima commented on #60
Hi @gauravv7 , version 2.2.4

[2019-08-11 06:40] gauravv7 commented on #60
Hi @CleitonDeLima

I have tried making a project with your django version, but I am not getting any error.
![screenshot](https://github.com/gauravv7/easy-select2/blob/master/issue_60.png?raw=true)

I must be due to some other theme/plugin you might be using. If you could share the project requirements/project itself, then I can try to debug and fix it.

Please find below link to my sample project.

[2019-08-12 03:56] CleitonDeLima commented on #60
Hi @gauravv7

I not specifying that the error occurred outside of admin, sorry.

Apart from the `django.jQuery` admin does not exist, this is a detail that I ended up creating the `django` Object manually.

[2019-08-14 00:36] gauravv7 commented on #60
yes the object will be a manual attempt because custom template pages may not have it.
We can include jquery in the <head> as well.

I guess your issue is resolved then?

[2019-08-17 18:09] #60 closed

[2019-08-17 18:10] gauravv7 commented on #60
marked closed, due to no response.

[2019-11-08 20:15] a-roomana opened #62 "raw_id_fields not working, exclude and fields in customized form not working!"
hi!
i use django 2.2.5 and django-easy-select2 1.5.6
i have two problem

1. `raw_id_fields` not working by `select2_modelform`
2. `fields` or `exclude` in custome form not working by `select2_modelform`

for example:
[code]

the user field is showing by select2 and the exclude fields are exists in model form

[2019-11-08 21:31] gauravv7 commented on #62
Hey @a-roomana

Thanks for posting your query.

for the 1st, raw_id_fields is a property of ModelAdmin, not ModelForm. For such a scenario, you can either not use custom form, then raw_id_fields would work directly with ModelAdmin or you can assign a custom widget in the form you are making.
in the below lines, I am assuming your `Page` model would be having a field `ext_user` as a foreignKey to `

[2019-11-12 06:21] gauravv7 commented on #62
closing this issue due to no further communication.

[2019-11-12 06:21] #62 closed

[2020-05-02 23:59] kevin-brown opened #65 "Update included version to 4.0.13"
I just noticed the included version appears to be pinned to 4.0.0, which was released about 5 years ago. Looking through the code, there shouldn't be anything breaking when doing this change and it will fix a lot of accessibility and browser compatibility issues that have been spotted over the years.

[2020-05-03 10:27] asyncee commented on #65
Can you make a PR, please?

[2020-05-18 19:52] hartwork opened #66 "Git tags missing for releases 1.4.0 to 1.5.7 ?"
Hi!

Is there a specific reason when release from 1.4.0 on do not have Git release tags in here any more? Do you have local tags that you didn't push? Would you welcome help finding the releated commits to create the missings tags?

Best, Sebastian

[2020-05-18 20:31] hartwork commented on #49
@Tyilo can you provide a pull request?

[2020-05-18 20:33] hartwork opened #68 "No CI? Pull request welcome?"
Hi!

I see no CI here — no Travis, no GitHub Actions, …. Would a pull request running tests using GitHub actions be welcome for review, in general?

Best, Sebastian

[2020-05-18 20:44] hartwork commented on #68
My bad, I was mislead by the lack of Travis checkmarks — it seems to fail to report status back again — and failed to have a closer look to verify. My apology! Closing.

[2020-05-18 20:44] #68 closed

[2020-05-18 21:10] hartwork opened #71 "Support passing themes?"
Hi!

I would like to use the [bootstrap4 theme for Select2](https://github.com/ttskch/select2-bootstrap4-theme). The way to [activate it](https://github.com/ttskch/select2-bootstrap4-theme#usage) would be:
[code]
To make that work with django-easy-select2 it seems I would need to pass `theme: 'bootstrap4'` here:
https://github.com/asyncee/django-easy-select2/blob/0a87c501bc8fd7f3416efd07e72d6f50d1

[2020-05-19 18:53] asyncee commented on #66
Hi, Sebastian!

Sadly, i'm not using Django for a few years from now, so there are not much contributions from me, but most contributions come from community and @gauravv7. Currently i'm only pushing new releases to pypi, that is why there are no releases on github.

Any help is welcomed :)

Thanks!

[2020-05-19 18:56] #65 closed

[2020-05-19 19:08] asyncee commented on #71
I did not dig into code (it changed much from last time i touched it) but it looks like `select2attrs` constructor argument can help you out? https://github.com/asyncee/django-easy-select2/blob/master/easy_select2/widgets.py#L20

[2020-05-19 22:40] hartwork commented on #66
I wrote a brute-force script to find tags. Here's what it found:

[code]

The first option is the oldest commit to tag possible, the second option the second oldest (in topological order). Multiple options are the result of changes to files that are not contained in the tarball.

What do you think?

[2020-05-19 22:45] hartwork commented on #66
Script `recover-django-easy-select2-tags.sh`:

[code]

[2020-05-19 22:56] hartwork commented on #71
Looks promising — let me try that and report back!

[2020-05-20 14:47] hartwork commented on #71
Passing `theme: 'classic'` seems to work fine, I used:
[code]

However with theme `boostrap4` I'll need to include another CSS file [select2-bootstrap4.min.css](https://github.com/ttskch/select2-bootstrap4-theme/blob/master/dist/select2-bootstrap4.min.css) everywhere I use django-easy-select2, e.g. even when used in the Django Admin. I was thinking of a way like this…
[code]
…but I see no easy way

[2020-05-21 14:31] asyncee commented on #66
Thanks a lot for your help! Now i'm thinking if pypi releases is enough, just to avoid any synchronization between github and pypi.

What do you think?

[2020-05-21 14:40] hartwork commented on #66
I don't understand. Could you elaborate?

With the list of options for each tag above, it would take nothing more than:
- a decision if you want to go for (a) most early or (b) most recent commit or (c) case by case; if you want me to dig more into (c), can do. (a) and (b) are both cheap.
- copy-paste and run the right git tag commands
- push the tags

With the tags, things like this become possib

[2020-05-29 16:58] hartwork commented on #66
I have went through the candidates case by case now and pushed the resulting tags. They can be seen on the [releases page](https://github.com/asyncee/django-easy-select2/releases) now, closing.

[2020-05-29 16:58] #66 closed

[2020-05-31 10:15] asyncee commented on #66
Thanks a lot!

[2020-09-16 18:52] gauravv7 commented on #71
I ll put this request as a PR here, because this work was not forseen, so left it with this hard way reach.

[2020-09-16 18:53] gauravv7 commented on #71
I ll put this as a PR, since this was not forseen as a proper requirement, so got left for this hard way reach.

[2020-09-16 18:57] gauravv7 commented on #49
I ll compare for documentation, the feature set Django's select covers and the functionalities easy-select2 plugin can provide.

[2021-07-28 07:43] subodhk01 opened #84 "Issues with Django Admin Dark theme"
![Capture](https://user-images.githubusercontent.com/19875783/127283629-b2bc60b8-bd38-4d4b-acb2-c078c3d76b3c.PNG)

[2021-07-28 08:05] gauravv7 commented on #84
@subodhk01  you are just using django dark theme right? no other custom select2js files added to this page?

[2021-07-28 10:14] subodhk01 commented on #84
Yep, only the default django dark theme, nothing else

[2021-12-18 08:20] mikekeda opened #86 "Django 4.0 ImportError: cannot import name 'force_text' from 'django.utils.encoding'"
I upgraded Django to 4.0 and I'm getting an error:
[code]

We need to change force_text to force_str

[2021-12-18 08:28] mikekeda opened #87 "Django 4.0 ImportError: cannot import name 'ugettext_lazy' from 'django.utils.translation'"
I upgraded Django to 4.0 and I'm getting an error:
[code]

We need to change ugettext_lazy to gettext_lazy

[2021-12-18 11:14] gauravv7 commented on #87
Confirmed, will submit this change by eod today

[2021-12-21 17:53] #86 closed

[2021-12-21 20:20] hartwork opened #94 "Drop support for Django … and Python …"
Hi!

After PR #93 is merged, I consider making another PR dropping support for the following Django and Python versions:

- [Django](https://endoflife.date/django)
  - Django 2.0 — end-of-life already
  - Django 2.1 — end-of-life already
  - (Django 2.2 — end-of-life by 2022-05-01)
  - Django 3.0 — end-of-life already
  - Django 3.1 — end-of-life by 2022-01-01
- [Python](https://endoflife.date/pyt

[2021-12-23 06:51] asyncee commented on #94
Very good idea. As we are dropping support, last supported version should be stated in the docs so uses can use legacy version if they have to. I think it is better to stick to 3.7+ than 3.10 because the latter is too new yet.

[2021-12-23 06:58] gauravv7 commented on #94
Yes I also agree, we can drop for these previous versions. Lets go ahead with this.

[2021-12-23 14:49] hartwork commented on #94
Okay good, I'll create a PR. Yes, let's keep Python 3.7 for sure.

[2021-12-24 06:06] #94 closed

[2021-12-24 11:10] mikekeda commented on #87
I'm waiting for the new version on pypi to close this

[2021-12-24 11:25] asyncee commented on #87
@mikekeda i'm sorry for delay, new version will be released later today.

Thanks!

[2021-12-25 14:48] asyncee commented on #87
I'm very sorry about delay, still can't get to my PC. This is very seldom situation, but I'm keeping the issue in my todo list, so the release will be ASAP by me or @gauravv7 .

[2021-12-26 19:00] asyncee commented on #87
Version 1.5.8 released, thank you for your contribution!

[2021-12-26 22:51] hartwork commented on #87
@asyncee cool! Pushing a Git tag and a new release entry at https://github.com/asyncee/django-easy-select2/releases would make it perfect :smile:

[2021-12-27 08:57] mikekeda commented on #87
thanks

[2021-12-27 08:57] #87 closed

[2021-12-27 14:58] hartwork commented on #87
PS: @asyncee let me know if you want me to take over, happy either way. Note to self: commit is 8b5fc17254d698b1d4a216e67acb6ba35b24596e .

[2021-12-27 15:40] asyncee commented on #87
@hartwork i'm sorry for delay, it is still in my todo list. Currently the library is not my priority because i'm very busy on my work and not using django for years. I can make you collaborator on pypi if you wish. Thank you for your help!

[2021-12-27 15:58] hartwork commented on #87
@asyncee all good, I didn't mean to stress, I just wanted to be sure things go complete one way or another. I gladly accept the invitation to PyPI.

[2021-12-27 16:23] asyncee commented on #87
Great, thank you! Are your nickname the same on pypi?

[2021-12-27 16:48] hartwork commented on #87
@asyncee I'm "sping" over there: https://pypi.org/user/sping/

[2021-12-27 19:07] asyncee commented on #87
Invited you.

[2021-12-27 19:34] hartwork commented on #87
@asyncee thank you! :pray:

[2022-01-03 15:45] hartwork commented on #87
I have pushed a Git tag and a release page at https://github.com/asyncee/django-easy-select2/releases now, so there is no chance we forget about it. In the process I noticed the change log is missing some things. I'll make a pull request for that in a minute.

CC @asyncee

[2022-02-11 12:15] subodhk01 commented on #84
@asyncee are you planning on adding this support?

[2022-02-11 12:29] subodhk01 commented on #84
@gauravv7 @hartwork any status?

[2022-02-11 15:18] hartwork commented on #84
@hartwork I don't use the dark theme and I have other priorities these days. If you want to team up on it, I may be in, but zero interest to fix this alone, frankly.

[2022-02-12 09:45] subodhk01 commented on #84
@hartwork I understand. Surely I can help you out with this. Just init & guide me and I'll do the rest

[2022-02-12 14:51] hartwork commented on #84
@subodhk01 I'm afraid I'd start at zero on that very topic myself

[2022-02-13 16:18] subodhk01 commented on #84
@hartwork 😂 No worries. I'll fix it whenever I get some free time

[2022-04-04 17:21] amserra opened #107 "Select2 is not being rendered"
Hi. I installed the latest version of django-easy-select2 with pip on Django 4.0.3. When I use it on a model form like below, nothing happens, although the element is rendered to the HTML (image).

[code]

![image](https://user-images.githubusercontent.com/45828914/161597769-faf1b9de-df11-4e85-ba31-a3bde8fbdc61.png)

Any fix on this?

[2022-05-21 18:23] #107 closed

[2022-05-25 18:37] gauravv7 commented on #84
@subodhk01 I checked it, it is clashing with some css of select2, I will try to put a PR for this by this or coming weekend. Sorry guys, have been buzy due to alot of covid related issues around family.

[2022-06-15 08:24] CrossLiu opened #110 "Django 4.0.4 ImportError: cannot import name 'ugettext' from 'django.utils.translation'"
I have a issue: ImportError: cannot import name 'ugettext' from 'django.utils.translation'

[2022-06-15 08:25] #110 closed